.ant-btn {
  background: linear-gradient(135deg, #0d3b66 5%, #00a6fb 100%) !important;
  color: white !important; /* Change text color to white */
  border: none; /* Remove border */
  font-weight: 500;
  font-size: 16;
}

/* Exclude specific buttons */
.ant-btn.ant-btn-link {
  background: transparent !important; /* Remove background for link buttons */
  color: inherit !important; /* Maintain inherited text color */
}

/* Exclude Google logo button */
.ant-btn[shape="circle"] {
  background: transparent !important; /* Remove background for the circle button */
  border: none !important; /* Remove border */
}

